/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-weight: 700;
}

header form {
    margin-top: 10px;
}

header form input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

header form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header form button:hover {
    background-color: #777;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Song Container Styles */
#song-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Song Card Styles */
.song {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.song:hover {
    transform: scale(1.05);
}

.song h2 {
    margin-top: 0;
    color: #333;
    font-size: 1.5em;
}

.song h3 {
    color: #666;
    font-size: 1.2em;
    margin-top: -10px;
}

.song pre {
    background: #f9f9f9;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}
